<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>" />
		</div>

		<div>
			<%= p.description %>
		</div>

		<div>
			Price: <%= p.size %> cm
		</div>

		<div>
			Spicy: <%= p.is_spicy %>
		</div>

		<div>
			Vegan: <%= p.is_veg %>
		</div>

		<div>
			Best offer: <%= p.is_best_offer %>
		</div>

		<div>
			Price: <%= p.price %> rub
		</div>
		
		<br />
		
		<div>
			<button class="btn btn-sm btn-success">Add to cart</button>
		</div>

	</div>

	<% end %>

</div>
<br />
<br />

<button class="btn btn-primary btn-large" onclick="something()">Click me!</button>

