<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-3">
		<%= p.title %>
	</div>

	<div>
		<img src="<%= p.path_to_image %>" />
	</div>

	<div class="col-md-3">
		<%= p.description %>
	</div>

	<div class="col-md-3">
		<%= p.title %>
	</div>

	<div class="col-md-3">
		<%= p.title %>
	</div>
		
	<% end %>

</div>
<br />
<br />

<button class="btn btn-primary btn-large" onclick="something()">Click me!</button>

